<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{body}">

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
    <script th:inline="javascript">

        $(document).ready(function(){
            $("#searchBtn").on("click",function(e) {
                e.preventDefault();
                page(0);
            });
        });

        function page(page){
            var searchDateType = $("#searchDateType").val();
            var searchSellStatus = $("#searchSellStatus").val();
            var searchBy = $("#searchBy").val();
            var searchQuery = $("#searchQuery").val();

            location.href="/items/" + page + "?searchDateType=" + searchDateType
            + "&searchSellStatus=" + searchSellStatus
            + "&searchBy=" + searchBy
            + "&searchQuery=" + searchQuery;
        }


    </script>
</th:block>
<div layout:fragment="content">
    <main role="main" class="container">
        <div class="starter-template">
            <form th:action="@{'/notice/list/' + ${notices.number}}" role="form" method="get" th:object="${notices}">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>번호</th>
                    <th>글제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>수정일</th>
                    <th>수정/삭제</th>
                </tr>
                </thead>

                <tbody>
                <!-- CONTENTS !-->
                <tr th:each="Notice, status: ${notices.getContent()}">
                    <td th:text="${Notice.id}"></td>

                    <td><a th:href="'/notice/detail/'+${Notice.id}" th:text="${Notice.title}"></a></td>
                    <td th:text="${username}"></td>

                    <td th:text="${#temporals.format(Notice.regTime, 'yyyy-MM-dd  ')}"></td>

                    <td th:text="${#temporals.format(Notice.updateTime, 'yyyy-MM-dd  ')}"></td>
                    <td>
                        <a th:href="@{'/notice/update/'+${Notice.id}}">수정</a>
                        <a th:href="@{'/notice/delete/'+${Notice.id}}">삭제</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <div th:with="start=${(notices.number/maxPage)*maxPage + 1}, end=(${(notices.totalPages == 0) ? 1 : (start + (maxPage - 1) < notices.totalPages ? start + (maxPage - 1) : notices.totalPages)})" >
                <ul class="pagination justify-content-center">

                    <li class="page-item" th:classappend="${notices.first}?'disabled'">
                        <a th:onclick="'javascript:page(' + ${notices.number - 1} + ')'" aria-label='Previous' class="page-link">
                            <span aria-hidden='true'>Previous</span>
                        </a>
                    </li>

                    <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${notices.number eq page-1}?'active':''">
                        <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text" class="page-link">[[${page}]]</a>
                    </li>

                    <li class="page-item" th:classappend="${notices.last}?'disabled'">
                        <a th:onclick="'javascript:page(' + ${notices.number + 1} + ')'" aria-label='Next' class="page-link">
                            <span aria-hidden='true'>Next</span>
                        </a>
                    </li>

                </ul>
            </div>

            <!-- Pagination -->
            <div style="margin: 10px">

                <a style="float: right" class="btn btn-primary" href="/notice/write">글쓰기</a>
            </div>

            <!-- 검색 form -->

                <div  th:object="${noticeSearchDto}">
                    <input th:field="*{searchQuery}" type="text" placeholder="검색어를 입력해주세요.">
                    <button type="submit" class="btn btn-primary">검색하기</button>
                </div>

            </form>

        </div>
    </main>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</html>